.custom-button {
    padding: 10px 20px;
    border-radius: 25px;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}